*, body{
    font-family: "Comic Sans MS", "Comic Sans";
    margin: 0px;
    max-width: 100vw;
    box-sizing: border-box;
}

html,
body {
    padding: 0; /* espaciado interior del cuerpo a 0 */
    margin: 0;  /* espaciado exterior del cuerpo a 0 */
    box-sizing: border-box;
    font-size: clamp(13px, 2vw, 16px);
}

/* Estilos para el navegador */

.menu {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #ff8c42;
  color: #f0f4f1;
  display: flex;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
  
  .logo {
    flex-grow: 1;
    font-size: 1.4rem;
    font-weight: bold;
    color: #393e46;
    user-select: none;
  }
  
  .menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0 1.5rem 0 0; /* Espacio a la derecha del menú */
  }
  
  .menu li {
    padding: 0 1rem;
    border-radius: 4px;
  }

  .menu li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease;
    padding: 1rem;
}

.menu li:hover {
    background-color: #d67437;
}

.menu li a:hover {
    color: #747202;
    background-color: #d67437;
}


  .menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  /* Estilos para el menú hamburguesa */
  .menu-icon {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: white;
  }
  
  #menu-toggle {
    display: none;
  }
  
/* Main */

  main {
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
    text-align-last: center;
    background-color: #ffeadd;
  }

  main h1 {
    font-size: clamp(17px, 2vw, 30px);
  }

/* cuerpo */
.alpaca {
  width: 100%;
  perspective: 1000px;
  overflow: hidden;
  position: relative;
}

.inner-box {
  width: 100%;
  height: 100%;
  background-image: url(../imagenes/alpaca_fondo.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}


.inner-box article {
  border-radius: 4.5px;
  background-color: white;
  width: 38% ;
  margin: 30px;
  padding: 10px;
}

.inner-box article h2 {
  text-align: center;
}

.resenia {
  padding: 10px;
}

  article {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #ffeadd;
  }

  article li {
    padding-top: 6px;
  }
  h2 {
    font-size: clamp(16px, 2vw, 27px);
  }

  h2.tabletitle {
    background-color: #ffeadd;
    margin: 0;
    text-align: center;
  }

  h2.contacto {
    text-align: center;
  }

  .contador {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    background-color: #ff8c42;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Footer */

footer {
  font-size: clamp(14px, 2vw, 17px);
  width: 100%;
  background-color: #ff8c42;
  color: rgb(255, 255, 255);
  padding: 22px;
  box-sizing: border-box;
  text-align: center;
}

.resenia footer {
  background-color: #4ec443;
  padding: 5px;
}



  /* Vista en dispositivos móviles */
  @media (max-width: 978px) {
    .menu ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }
  
    .menu ul li {
        text-align: center;
        margin: 1rem 0;
    }
  
    .menu-icon {
        display: block;
    }
  
    #menu-toggle:checked + .menu-icon + ul {
        display: flex;
    }

    .alpaca {
      width: 100%;
      overflow: hidden;
    }

    .inner-box {
      width: 100%;
      height: 100%;
      background-image: url(../imagenes/alpaca_face.webp);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      padding: 1px;
      display: inline;
    }

    .inner-box article {
      width: 90%;
    }

    table {
      width: 100%;
      table-layout: fixed;
      overflow-x: auto;
    }
  
    tr:first-child th {
      font-size: 90%;
    }    

    th, td {
      font-size: 80%;
      padding: 6px;
      word-wrap: break-word;
    }
  
    table img {
      width: 100%;
      max-width: 100%;
      height: auto;
      object-fit: contain;
      border-radius: 3px;
    }
  }

  table img {
    width: 230px;
    height: auto;
    border-radius: 3px;
  }

  div.formulario {
    text-align: center;
    font-size: 1.1em;
  }

  input, textarea, select {
    margin: 5px 0 15px 0;
    font-size: 1.1em;
  }

  .xsl {
    width: 100%;
    height: 100%;
    background-image: url(../imagenes/alpaca_face.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: inline;
  }

  .formu {
    display: flex;
    justify-content: center;
  }

  .formulario_foto {
    width: 330px;
    height: auto;
  }
/* Tablas */

caption{
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 30px;
  width: 100%;
  background-color: #ff8c42;
  color: #f0f4f1;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

table{
  margin: 20px auto;
  border-collapse: collapse;
  border-style: inset;
  border-color: black;
  width: 80%;
  background-color: beige;
}

th {
  font-size: 90%;
}

th, td {
  border: 2px inset black;
  text-align: center;
  padding: 10px;
}


th{
  font-size: 1.5em;
  background-color: bisque; 
}